extends layout

block content
  #all.hide
    script
      include scripts.js
    body(onload="checkIfCompleted();")
    h1 Test De Percepción
    #infoGral
      li Para realizar este test es requerimiento indispensable escuchar el siguiente audio con auriculares.
      li Solo es posible realizar este test una vez.
      li La duración del mismo es menor a 5 minutos.
    #datosPersonales.btn-group.bootstrap-select
      h2 Datos Personales:
      p Los datos aquí guardados solo se usarán para generar métricas, los datos no quedarán asociados.
      form.form-horizontal
        #edadDiv.form-group
          label.col-sm-2.control-label(id="pEdad") Edad:
          #s.btn-group.bootstrap-select
            select(id="edad", name='f1_time').btn.dropdown-toggle.btn-default
                option(value=-1 ) -
                -for (var i = 0; i <= 12; ++i) {
                    option(value= i) #{i*5 +16 } - #{(i+1)*5+15}
                - }
                option(value=81) +80
          #edadAlert(class='hide')
            p Es necesario completar este campo
        #generoDiv.form-group
          label.col-sm-2.control-label Genero:
          #s.btn-group.bootstrap-select
            select(id="genero", name='f1_time').btn.dropdown-toggle.btn-default
                option(value="-") -
                option(value="F") Mujer
                option(value="M") Hombre
                option(value="O") Otro
                option(value="NC") No Contesta
          #generoAlert(class='hide')
            p Es necesario completar este campo
        #provinciaDiv.form-group
          label.col-sm-4.control-label Región en la que pasaste la mayor parte de tu infancia:
          div.btn-group.bootstrap-select
            select(id="provincia", name='f1_time').btn.dropdown-toggle.btn-default
                option(value="-") -
                option(value="Buenos Aires") Buenos Aires
                option(value="Capital Federal") Capital Federal
                option(value="Catamarca") Catamarca
                option(value="Chaco") Chaco
                option(value="Chubut") Chubut
                option(value="Córdoba") Córdoba
                option(value="Corrientes") Corrientes
                option(value="Entre Ríos") Entre Ríos
                option(value="Formosa") Formosa
                option(value="Jujuy") Jujuy
                option(value="La Pampa") La Pampa
                option(value="La Rioja") La Rioja
                option(value="Mendoza") Mendoza
                option(value="Misiones") Misiones
                option(value="Neuquén") Neuquén
                option(value="Río Negro") Río Negro
                option(value="Salta") Salta
                option(value="San Juan") San Juan
                option(value="San Luis") San Luis
                option(value="Santa Cruz") Santa Cruz
                option(value="Santa Fe") Santa Fe
                option(value="Santiago del Estero") Santiago del Estero
                option(value="Tierra del Fuego") Tierra del Fuego
                option(value="Tucumán") Tucumán
                option(value="No soy Argentino") No soy Argentino
        #provinciaAlert(class='hide')
          p Es necesario completar este campo    
      #buttonDiv
        button.btn.btn-default(onclick='guardar()') Guardar
    #instrucciones.hide
      h2 Instrucciones
      ul
        li Se le presentará un audio de alguien hablando, el audio dura aproximadamente 3 segundos.
        li Se le pedirá que transcriba el audio y que indique la nacionalidad del hablante.
        li Podrá escuar el audio solamente dos veces.
        li Recuerde utilizar auriculares!
        li Si solo logró entender palabras sueltas, no importa! Anotelas en el orden que crea correcto.
      button.btn.btn-default(onclick='entendido()') Entendido!
    #experimento.hide
      h2 Experimento:
      //Archivo de audio
      audio(id="myaudio")
          source(src='wavs/' + nivelN + '/' + oracionN + '.wav', type='audio/mpeg')
      button.btn.btn-success(id="playExp",onclick='play()') Escuchar
      p(id="contador") Te quedan 2 reproducciones
      form.form-horizontal
        div.form-group  
          label.col-sm-2.control-label Transcripción:
          div.col-sm-6
              input.form-control(type='text',id="trans", name='f1_time').form-control
        div.form-group
          label.col-sm-2.control-label Nacionalidad del hablante:
          div.col-sm-6
              input.form-control(type='text',id="nac", name='f1_time')
      button.btn.btn-default(onclick='submit(' + oracionN +',' + nivelN + ')') Guardar!
      #guardarAlert(class='hide')
        p No escribiste nada en el campo de nacionalidad! No importa que te equivoques, escribí lo que te haya parecido.   